KINDE_CLIENT_ID=KINDE CLIENT
KINDE_CLIENT_SECRET=SECRET
KINDE_ISSUER_URL=YOUR KINDE URL
KINDE_SITE_URL=http://localhost:3000
KINDE_POST_LOGOUT_REDIRECT_URL=http://localhost:3000
KINDE_POST_LOGIN_REDIRECT_URL=http://localhost:3000/dashboard


DATABASE_URL="postgresql://postgres:mysecretpassword@localhost:5000/postgres?schema=public"

UPLOADTHING_SECRET=SK Live Secret
UPLOADTHING_APP_ID=UPLoad thing id

PINECONE_API_KEY=PINE NICE KEY

OPENAI_API_KEY=Your OPEN API KEY
